* {
    padding: 0px;
    margin: 0px;

}

.wrapper {
    background-image: url(./background.jpg);
    height: 100vh;

}

.main {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 60px;
    color: white;

}

p {
    font-size: 30px;
    color: aquamarine;
}